project/target
scalabuff-compiler/bin
scalabuff-runtime/target
scalabuff-runtime/doc
scalabuff-runtime/bin
scalabuff-compiler/target
scalabuff-compiler/doc
.cache
project/project
scalabuff-compiler/project/target
.idea
.idea_modules
